In [1]:
#necessary packages to complete basic data cleaning
import numpy as np
import pandas as pd 
import os

In [2]:
AIRSdf = pd.read_excel('AIRS Needs Report.xls', sheet_name = 1)
# note, NN plans to have a meeting with United Way to update the way they receive the call information

In [3]:
type(AIRSdf)

pandas.core.frame.DataFrame

In [4]:
#Clean the data frame - replace mising and NA values with their respective place filler (string or integer) 
cleanDf = AIRSdf.fillna({"AIRS Problem Needs": 'Missing',"AIRS Problem Needs Count" : 0,"Referred and Unmet Services":"Missing", "Referred and Unmet Services Count":0})
cleanDf

#note - for this code (above) to work, the data must be a DataFrame and not a dictionary.

,Search Option - ZIP Code,Search Option - ZIP Code Count,AIRS Problem Needs,AIRS Problem Needs Count,Referred and Unmet Services,Referred and Unmet Services Count
0,Not Recorded,1252,Information Services,1198.0,Missing,0.0
1,Not Recorded,1252,Not Recorded,48.0,School Transportation Services,1.0
2,Not Recorded,1252,Not Recorded,48.0,Missing,0.0
3,Not Recorded,1252,Transportation,4.0,Missing,0.0
4,Not Recorded,1252,Income Support/Assistance,1.0,Missing,0.0
...,...,...,...,...,...,...
8494,98003,1,Information Services,1.0,Missing,0.0
8495,98003,1,Missing,0.0,Missing,0.0
8496,98576,1,Information Services,1.0,Comprehensive Information and Referral,1.0
8497,98576,1,Information Services,1.0,Missing,0.0
8498,98576,1,Missing,0.0,Missing,0.0

In [5]:
#insert new columns that indicate the month and year for current dataframe
cleanDf.insert(0, 'Month', "March") 

cleanDf.insert(1, 'Year', 2021)

#note, users will have to update the input value each month and year.

In [10]:
#Data set with zip codes
cleanDf

,Month,Year,Search Option - ZIP Code,Search Option - ZIP Code Count,AIRS Problem Needs,AIRS Problem Needs Count,Referred and Unmet Services,Referred and Unmet Services Count
0,March,2021,Not Recorded,1252,Information Services,1198.0,Missing,0.0
1,March,2021,Not Recorded,1252,Not Recorded,48.0,School Transportation Services,1.0
2,March,2021,Not Recorded,1252,Not Recorded,48.0,Missing,0.0
3,March,2021,Not Recorded,1252,Transportation,4.0,Missing,0.0
4,March,2021,Not Recorded,1252,Income Support/Assistance,1.0,Missing,0.0
...,...,...,...,...,...,...,...,...
8494,March,2021,98003,1,Information Services,1.0,Missing,0.0
8495,March,2021,98003,1,Missing,0.0,Missing,0.0
8496,March,2021,98576,1,Information Services,1.0,Comprehensive Information and Referral,1.0
8497,March,2021,98576,1,Information Services,1.0,Missing,0.0
8498,March,2021,98576,1,Missing,0.0,Missing,0.0

In [11]:
#Data set without zip codes 
cleanWZip = cleanDf.drop("Search Option - ZIP Code", axis = 1)
cleanWoutZip = cleanWZip.drop("Search Option - ZIP Code Count", axis = 1)
cleanWoutZip

,Month,Year,AIRS Problem Needs,AIRS Problem Needs Count,Referred and Unmet Services,Referred and Unmet Services Count
0,March,2021,Information Services,1198.0,Missing,0.0
1,March,2021,Not Recorded,48.0,School Transportation Services,1.0
2,March,2021,Not Recorded,48.0,Missing,0.0
3,March,2021,Transportation,4.0,Missing,0.0
4,March,2021,Income Support/Assistance,1.0,Missing,0.0
...,...,...,...,...,...,...
8494,March,2021,Information Services,1.0,Missing,0.0
8495,March,2021,Missing,0.0,Missing,0.0
8496,March,2021,Information Services,1.0,Comprehensive Information and Referral,1.0
8497,March,2021,Information Services,1.0,Missing,0.0
8498,March,2021,Missing,0.0,Missing,0.0

In [16]:
# create csv files 

# csv for March data with zip codes 
cleanDf.to_csv("Mar21 AIRS.csv", index = False, encoding = 'utf8')

# csv for March data without zip codes
cleanWoutZip.to_csv("Mar21 AIRS WoutZIP.csv", index = False, encoding = 'utf8')

In [18]:
# csv for all data (so far) with zip codes // combined dataset 
cleanDf.to_csv("2021 AIRS Need Report.csv", mode = 'a', header = False, index = False, encoding = 'utf8')

# csv for all data without zip codes 
cleanWoutZip.to_csv("2021 AIRS Need Report WoutZIP.csv", mode = 'a', header = False, index = False, encoding = 'utf8')