In [1]:
#Import packages
import pandas as pd

#Make API calls with python
import requests

#This allows us to store results of API call cleanly
import json

#Construct the API call we will use
baseAPI = *** #Please use your own API key and insert you base API here
# Please request your own API key here: https://api.census.gov/data/key_signup.html

#Call the API and collect the response
response = requests.get(baseAPI)

# Load the response into a JSON, ignoring the first element which is just field labels
formattedResponse = json.loads(response.text)[1:]

In [2]:
#Extract data with counties in Georgia: 

#Construct the API call we will use
baseAPI_c = "https://api.census.gov/data/2019/pep/charagegroups?&get=RACE,POP&for=county:*&in=state:13&key=9607281c84574420ac5767667da736f2514ce197" 

#Call the API and collect the response
response = requests.get(baseAPI_c)

#Load the response into a JSON, ignoring the first element which is just field labels
formattedResponse_c = json.loads(response.text)[1:]

In [3]:
# Build a dataframe for demographic data in GA
df2 = pd.DataFrame(columns=['Race', 'Populatioin','State','County'], data= formattedResponse_c)
print(df2)

     Race Populatioin State County
0       0       33610    13    187
1       1       31828    13    187
2       2         585    13    187
3       3         257    13    187
4       4         268    13    187
...   ...         ...   ...    ...
1903    7        9720    13    027
1904    8        5573    13    027
1905    9         157    13    027
1906   10         212    13    027
1907   11          53    13    027

[1908 rows x 4 columns]

In [4]:
# Rename the county names, race names, and state names in the datafram
df2['County'] = df2['County'].replace({'001':'Appling', '003':'Atkinson', '005':'Bacon', '007':'Baker', '009':'Baldwin', '011':'Banks', '013':'Barrow', '015':'Bartow', '017':'Ben Hill', '019':'Berrien', '021':'Bibb', '023':'Bleckley', '025':'Brantley', '027':'Brooks', '029':'Bryan', '031':'Bulloch', '033':'Burke', '035':'Butts', '037':'Calhoun', '039':'Camden', '043':'Candler', '045':'Carroll', '047':'Catoosa', '049':'Charlton', '051':'Chatham', '053':'Chattahoochee', '055':'Chattooga', '057':'Cherokee', '059':'Clarke', '061':'Clay', '063':'Clayton', '065':'Clinch', '067':'Cobb', '069':'Coffee', '071':'Colquitt', '073':'Columbia', '075':'Cook', '077':'Coweta', '079':'Crawford', '081':'Crisp', '083':'Dade', '085':'Dawson', '087':'Decatur', '089':'DeKalb', '091':'Dodge', '093':'Dooly', '095':'Dougherty', '097':'Douglas', '099':'Early', '101':'Echols', '103':'Effingham', '105':'Elbert', '107':'Emanuel', '109':'Evans', '111':'Fannin', '113':'Fayette', '115':'Floyd', '117':'Forsyth', '119':'Franklin', '121':'Fulton', '123':'Gilmer', '125':'Glascock', '127':'Glynn', '129':'Gordon', '131':'Grady', '133':'Greene', '135':'Gwinnett', '137':'Habersham', '139':'Hall', '141':'Hancock', '143':'Haralson', '145':'Harris', '147':'Hart', '149':'Heard', '151':'Henry', '153':'Houston', '155':'Irwin', '157':'Jackson', '159':'Jasper', '161':'Jeff Davis', '163':'Jefferson', '165':'Jenkins', '167':'Johnson', '169':'Jones', '171':'Lamar', '173':'Lanier', '175':'Laurens', '177':'Lee', '179':'Liberty', '181':'Lincoln', '183':'Long', '185':'Lowndes', '187':'Lumpkin', '189':'McDuffie', '191':'McIntosh', '193':'Macon', '195':'Madison', '197':'Marion', '199':'Meriwether', '201':'Miller', '205':'Mitchell', '207':'Monroe', '209':'Montgomery', '211':'Morgan', '213':'Murray', '215':'Muscogee', '217':'Newton', '219':'Oconee', '221':'Oglethorpe', '223':'Paulding', '225':'Peach', '227':'Pickens', '229':'Pierce', '231':'Pike', '233':'Polk', '235':'Pulaski', '237':'Putnam', '239':'Quitman', '241':'Rabun', '243':'Randolph', '245':'Richmond', '247':'Rockdale', '249':'Schley', '251':'Screven', '253':'Seminole', '255':'Spalding', '257':'Stephens', '259':'Stewart', '261':'Sumter', '263':'Talbot', '265':'Taliaferro', '267':'Tattnall', '269':'Taylor', '271':'Telfair', '273':'Terrell', '275':'Thomas', '277':'Tift', '279':'Toombs', '281':'Towns', '283':'Treutlen', '285':'Troup', '287':'Turner', '289':'Twiggs', '291':'Union', '293':'Upson', '295':'Walker', '297':'Walton', '299':'Ware', '301':'Warren', '303':'Washington', '305':'Wayne', '307':'Webster', '309':'Wheeler', '311':'White', '313':'Whitfield', '315':'Wilcox', '317':'Wilkes', '319':'Wilkinson', '321':'Worth'})

In [5]:
df2['Race'] = df2['Race'].replace({"11": "Native Hawaiian and Other Pacific Islander alone or in combination","10": "Asian alone or in combination","9": "American Indian and Alaska Native alone or in combination","8": "Black alone or in combination",
                                   "7": "White alone or in combination","6": "Two or more races","5": "Native Hawaiian and Other Pacific Islander alone","4": "Asian alone","3": "American Indian and Alaska Native alone",
                                   "2": "Black alone","1": "White alone","0": "All races"})

In [6]:
df2['State'] = df2['State'].replace({'01':'Alabama','02':'Alaska','04':'Arizona','05':'Arkansas','06':'California',
                                     '08':'Colorado', '09':'Connecticut', '10':'Delaware', '11':'District of Columbia', 
                                     '12':'Florida', '13':'Georgia','15':'Hawaii', '16':'Idaho', '17':'Illinois','18':'Indiana',
                                     '19':'Iowa','20':'Kansas','21':'Kentucky','22':'Louisiana','23':'Maine','24':'Maryland',
                                     '25':'Massachusetts','26':'Michigan','27':'Minnesota','28':'Mississippi','29':'Missouri',
                                    '30':'Montana','31':'Nebraska','32':'Nevada','33':'New Hampshire','34':'New Jersey','35':'New Mexico',
                                    '36':'New York','37':'North Carolina','38':'North Dakota','39':'Ohio','40':'Oklahoma','41':'Oregon',
                                     '42':'Pennsylvania','44':'Rhode Island','45':'South Carolina','46':'south Dakota','47':'Tennessee',
                                     '48':'Texas','49':'Utah','50':'Vermont','51':'Virginia','53':'Washington','54':'West Virgina',
                                     '55':'Wisconsin','56':'Wyoming','72':'Puerto Rico'})

In [7]:
#Show the dataframe with race, population, state, and county
df2

,Race,Populatioin,State,County
0,All races,33610,Georgia,Lumpkin
1,White alone,31828,Georgia,Lumpkin
2,Black alone,585,Georgia,Lumpkin
3,American Indian and Alaska Native alone,257,Georgia,Lumpkin
4,Asian alone,268,Georgia,Lumpkin
...,...,...,...,...
1903,White alone or in combination,9720,Georgia,Brooks
1904,Black alone or in combination,5573,Georgia,Brooks
1905,American Indian and Alaska Native alone or in ...,157,Georgia,Brooks
1906,Asian alone or in combination,212,Georgia,Brooks
1907,Native Hawaiian and Other Pacific Islander alo...,53,Georgia,Brooks

In [8]:
# Save the dataframe to a csv file
df2.to_csv(r'Demographic_data_GAcounty.csv', index = False)